@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", sans-serif;

  --color-grey: hsl(221 12% 35%);
  --color-black: hsl(225 59% 10%);
  --color-primary: hsl(231 100% 58%);
  --color-primary-light: hsl(225 97% 61%);
  --color-danger: hsl(0 100% 41%);
  --color-success: hsl(144 73% 44%);
  --color-green: hsl(120 100% 33%);

  --background-image-gradient-primary: linear-gradient(
    to right,
    var(--color-primary-light),
    var(--color-primary)
  );
}

body {
  font-family: var(--font-montserrat);
}

@layer base {
  body {
    @apply font-montserrat;
  }
}
